[submodule "snnblimp_ws/snnblimp_ws/src/mocap_optitrack"]
	path = snnblimp_ws/snnblimp_ws/src/mocap_optitrack
	url = https://github.com/h2r/mocap_optitrack
[submodule "snnblimp_ws/src/mocap_optitrack"]
	path = snnblimp_ws/src/mocap_optitrack
	url = https://github.com/h2r/mocap_optitrack
