<!-- lauch file to play data from the radar, motor control and OptiTrack topic -->
<launch>

    <!-- ····················································································· -->
    <!-- ······················ CONSTANTS + PARAMETERS DEFINITION ···························· -->
    <!-- ····················································································· -->

    <arg name="user"              default="marina" />
    <arg name="time"              default="16-24-00"/>
    <arg name="date"              default="2021-01-15"/>
    <arg name="play_targets"      default="false"/>
    <arg name="play_motor"        default="false"/>
    <arg name="play_optitrack"    default="false"/>
    <arg name="play_all"          default="true"/>
    <arg name="apply_filter"      default="true"/>
    <arg name="plotjuggler"       default="true"/>
    <arg name="plotjuggler_delay" default="3"/>
    <arg name="speed"             default="4"/>
    <arg name="hardware"          default="false"/>

    <!-- ····················································································· -->
    <!-- ································ NODES TO BE LAUNCHED ······························· -->
    <!-- ····················································································· -->

    <!-- rosbag play targets -->
    <node pkg="rosbag" name="play_targets" type="play" 
    args="-r $(arg speed) /home/$(arg user)/Pi_Git/ros_radar_mine/record_radar_data/targets_$(arg date)-$(arg time).bag"
    if="$(arg play_targets)"/>

    <!-- radar driver filter -->
    <node name="radar_ros_filter" pkg="radar_ros_driver" type="radar_ros_filter" output="screen" if="$(arg apply_filter)"/>

    <!-- rosbag play motors -->
    <node pkg="rosbag" name="play_motor" type="play" 
    args="-r $(arg speed) /home/$(arg user)/Pi_Git/ros_radar_mine/record_radar_data/motor_$(arg date)-$(arg time).bag" 
    if="$(arg play_motor)"/>

    <!-- motor control -->
    <node pkg="motor_control" type="dcmotor" name="subscribe_to_speed" output="screen" launch-prefix="sudo -E" if="$(arg hardware)">
        <param name="cw_pwmPin" value="19" />
        <param name="cw_dirPin" value="26" />
        <param name="ccw_pwmPin" value="12" />
        <param name="ccw_dirPin" value="21" />
    </node>
    <node pkg="motor_control" type="servo_ros.py" name="subscribe_to_angle" output="screen" if="$(arg hardware)">
        <param name="servoPin" value="17" />
    </node>

    <!-- rosbag play optitrack -->
    <node pkg="rosbag" name="play_optitrack" type="play" 
    args="-r $(arg speed) /home/$(arg user)/Pi_Git/ros_radar_mine/record_radar_data/optitrack_$(arg date)-$(arg time).bag"
    if="$(arg play_optitrack)"/>

    <!-- rosbag play all -->
    <node pkg="rosbag" name="play_all" type="play" 
    args="-r $(arg speed) /home/$(arg user)/Pi_Git/ros_radar_mine/record_radar_data/all_$(arg date)-$(arg time).bag"
    if="$(arg play_all)"/>

    <!-- ····················································································· -->
    <!-- ···························· REAL-TIME PLOTS (PLOTJUGGLER) ·························· -->
    <!-- ····················································································· -->

    <!-- plotjuggler: real-time plots -->
    <node name="plotjuggler" pkg="plotjuggler" type="plotjuggler" 
    args="--layout /home/$(arg user)/Pi_Git/ros_radar_mine/myLayout_All.xml"
    launch-prefix="bash -c 'sleep $(arg plotjuggler_delay); $0 $@' "
    if="$(arg plotjuggler)">
    </node>
</launch>
