<!-- launch file to get data from the radar, filter it and plot it in real time -->
<launch>
  <!-- radar driver -->
  <node name="radar_ros_driver" pkg="radar_ros_driver" type="radar_ros_driver" output="screen"/> 

  <!-- radar driver filter -->
  <node name="radar_ros_filter" pkg="radar_ros_driver" type="radar_ros_filter"/>

  <!-- motor control -->
  <include file="$(find motor_control)/launch/motor_control.launch" if="$(arg record_motor)"/>

  <!-- plotjuggler: real-time plots -->
  <node name="plotjuggler" pkg="plotjuggler" type="plotjuggler" args="--layout /home/marina/Pi_Git/ros_radar_mine/myLayout_filter.xml"></node>
</launch>
