<!-- lauch file to play rosbag targets_time.bag files, apply filtering and plot the results with plotjuggler -->
<launch>
  <!-- arguments to play -->
  <arg name="user" default="marina" />
  <arg name="time" default="15-04-40"/>
  <arg name="date" default="2021-01-15"/>
  <arg name="play_targets" default="true"/>
  <arg name="play_motor" default="false"/>
  <arg name="hardware" default="false"/>
  <arg name="plotjuggler" default="false"/>
  <arg name="speed" default="5"/>

  <!-- rosbag play targets -->
  <node pkg="rosbag" name="play_targets" type="play" 
  args="-r $(arg speed) /home/$(arg user)/Pi_Git/ros_radar_mine/record_radar_data/targets_$(arg date)-$(arg time).bag"
  if="$(arg play_targets)"/>

  <!-- rosbag play motors -->
  <node pkg="rosbag" name="play_motor" type="play" 
  args="-r $(arg speed) /home/$(arg user)/Pi_Git/ros_radar_mine/record_radar_data/motor_$(arg date)-$(arg time).bag" 
  if="$(arg play_motor)"/>

  <!-- radar driver filter -->
  <node name="radar_ros_filter" pkg="radar_ros_driver" type="radar_ros_filter" if="$(arg play_targets)"/>

  <!-- motor control -->
  <node pkg="motor_control" type="dcmotor" name="subscribe_to_speed" output="screen" launch-prefix="sudo -E" if="$(arg hardware)">
      <param name="cw_pwmPin" value="19" />
      <param name="cw_dirPin" value="26" />
      <param name="ccw_pwmPin" value="12" />
      <param name="ccw_dirPin" value="21" />
  </node>
  <node pkg="motor_control" type="servo_ros.py" name="subscribe_to_angle" output="screen" if="$(arg hardware)">
      <param name="servoPin" value="17" />
  </node>

  <!-- plotjuggler: real-time plots -->
  <node name="plotjuggler" pkg="plotjuggler" type="plotjuggler" 
  args="--layout /home/$(arg user)/Pi_Git/ros_radar_mine/myLayout_playAll.xml"
  if="$(arg plotjuggler)">
  </node>
</launch>
