<launch>
    <!-- define local server [e.g. computer] and remote client(s) [e.g. Pi0, Pi4,...] machines -->
    <machine name="pi_client" timeout="20" address="192.168.12.35" user="pi" password="raspberry"  env-loader="/home/pi/ros/snnblimp_ws/pi_ros_env.sh"/>
    <machine name="comp_server" address="192.168.12.1"/>

    <arg name="record_all"         default="true"/>
    <arg name="record_start_delay" default="5.0"/>
    <arg name="rigid_body"         default="true"/>
    <arg name="plotjuggler"        default="false"/>
    <arg name="plotjuggler_delay"  default="5.0"/>


    <node
        machine="comp_server"
        pkg="motor_control"
        type="dcmotor_alive.py"
        name="dcmotor_alive"
        output="screen"

    />

    <node
        machine="pi_client"
        pkg="motor_control"
        type="dcmotor"
        name="subscribe_to_speed"
        output="screen"
        launch-prefix="sudo -E"
    >
        <param name="cw_pwmPin" value="19" />
        <param name="cw_dirPin" value="26" />
        <param name="ccw_pwmPin" value="12" />
        <param name="ccw_dirPin" value="21" />
    </node>
    <node
        machine="pi_client"
        pkg="motor_control"
        type="servo_ros.py"
        name="subscribe_to_angle"
        output="screen"
    >
        <param name="servoPin" value="17" />
    </node>

    <node
        machine="comp_server"
        pkg="motor_control"
        type="href.py"
        name="reference_input"
        output="screen"
    />

    <!-- <node pkg="mocap_optitrack" 
        type="pose_stamper_1" 
        name="pose_stamper_1" />
    
    <node pkg="mocap_optitrack" 
        type="mocap_node" 
        name="mocap_node"
        respawn="false"
        launch-prefix=""
        required="true">

        <rosparam file="$(find mocap_optitrack)/config/mocap.yaml" command="load" />
    </node> -->

    <node
        machine="pi_client"
        pkg="motor_control"
        type="controller_full.py"
        name="controller"
        output="screen"
    />

    <node machine="pi_client" pkg="tfmini_ros" type="tfmini_ros_node" name="tfmini_ros_node" output="screen">
      <param name="serial_port" type="string" value="/dev/ttyAMA0" />
      <param name="baud_rate" type="int" value="115200" />
    </node>

    

    <!-- rosbag record all (radar, motor, OptiTrack) -->
    <node machine="comp_server" pkg="rosbag" type="record" name="rosbag_record_all"
        args="record -o /home/tim/ros/snnblimp_ws/rosbag/all /h_ref /tfmini_ros_node/TFmini /motor_control /optitrack"
        launch-prefix="bash -c 'sleep $(arg record_start_delay); $0 $@' "
        if="$(arg record_all)"/>


    <!-- plotjuggler: real-time plots -->
    <node machine="comp_server" name="plotjuggler" pkg="plotjuggler" type="plotjuggler" 
        args="--layout /home/tim/ros/snnblimp_ws/src/PlotJuggler/myLayout_playAll.xml"
        launch-prefix="bash -c 'sleep $(arg plotjuggler_delay); $0 $@' "
        if="$(arg plotjuggler)">
    </node>
</launch>